.base-timer {
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  margin-top: 60px;
  position: relative;
  width: 430px;
  height: 470px;
}

/* scaleX(1) = CLOCKWISE, scaleX(-1) = ANTI-CLOCKWISE */

.base-timer__svg {
  transform: scaleX(1);
}

.base-timer__circle {
  fill: none;
  stroke: none;
}

.base-timer__path-elapsed {
  stroke-width: 10px;
  stroke: #fffefe;
}

.base-timer__path-remaining {
  stroke-width: 10px;
  stroke-linecap: round;
  transform: rotate(90deg);
  transform-origin: center;
  transition: 1s linear all;
  fill-rule: nonzero;
  stroke: currentColor;
  border-radius: 10px;
}

.base-timer__path-remaining.arc {
  color: #1568f4;
}

.base-timer__label {
  color: #FFF;
  font-family: 'Public Sans';
  font-size: 60px;
  font-style: normal;
  font-weight: 700;
  line-height: normal;
  letter-spacing: 3px;
  /*position: absolute;*/
  /*width: 300px;*/
  height: 100px;
  top: 0;
  display: flex;
  align-items: center;
  justify-content: center;
  font-size: 57px;
  /*color: rgba(179,48,102,0.973);*/
}

.stpbtns {
  /*margin-top: 75px;*/
  box-sizing: border-box;
  display: flex;
  justify-content: space-around;
  align-items: center;
}

.stpbtns button {
  margin: 1rem;
  border: none;
  background-color: beige;
  width: 100px;
  height: 50px;
  border-radius: 5px;
  padding: .3rem;
  font-size: 1.1rem;
}

.buttons button:hover {
  /*background-color: rgba(179, 48, 102, 0.973);*/
  color: white;
}

.stpbrns button:disabled {
  cursor: not-allowed;
}

.stpbtns button:disabled:hover {
  background-color: beige;
}

#start {
  /*leading-trim: both;*/
  /*text-edge: cap;*/
  font-family: 'Public Sans';
  font-size: 30px;
  font-style: normal;
  font-weight: 400;
  line-height: normal;
  color: #649613;
  display: flex;
  width: 175px;
  height: 68px;
  padding: 10px 50px;
  justify-content: center;
  align-items: center;
  gap: 10px;
  border-radius: 10px;
  background: #23282A;
}

#stop {
  color: #F00;
  leading-trim: both;
  text-edge: cap;
  font-family: 'Public Sans';
  font-size: 30px;
  font-style: normal;
  font-weight: 400;
  line-height: normal;
  display: flex;
  width: 175px;
  height: 68px;
  padding: 10px 30px;
  justify-content: center;
  align-items: center;
  gap: 10px;
  border-radius: 10px;
  background: #31232A;
}

.reloaddiv {
  transform: translate(114px, -51px);
    /* margin-left: 458px; */
    /* position: relative; */
    display: flex;
    align-items: stretch;
    justify-content: center;
}

.bi bi-arrow-counterclockwise {
}

div {
}

.timer-holder {
}

