#container {
    margin: 20px;
    width: 400px;
    height: 400px;
}

#runner {
    font-size: 60px;
    position: absolute;
    translate: 0px -80px;
}

.start {
    translate: 0px -160px;
}

.pause-reset {
    position: absolute;
    translate: 0px 60px;
}

#stop-btn {
    color: #F5F9FF;
    text-align: center;
    font-size: 21.5px;
    font-style: normal;
    font-weight: 700;
    line-height: normal;
    background-color: rgba(255, 255, 255, 0);
    width: 150px;
    height: 60px;
    border-radius: 40px;
    border: 2px solid #3F8AEA;
}

#stop-btn:hover {
    box-shadow: 0px 0px 20px 20px #2B3E5B;
}

.circle-halo {
    position: absolute;
    color: rgba(255, 255, 255, 0);
    font-size: 400px;
    box-shadow: 0px 0px 211px 20px #2B3E5B;
    border-radius: 256px;
    /* width: 451px; */
    transform: translate(0px, -30px);
}

.swal2-popup {
    /* From https://css.glass */
    background: rgba(255, 255, 255, 0.02);
    border-radius: 16px;
    box-shadow: 0 4px 30px rgba(0, 0, 0, 0.1);
    backdrop-filter: blur(17.4px);
    -webkit-backdrop-filter: blur(17.4px);
    border: 1px solid #3F8AEA;
}

.popup-text-color {
    color: white;
}

.swal2-styled {
    color: red;
}
#dropdown-div {
    display: flex;
    justify-content: end;
    position: sticky;
    border-radius: 10px 10px 0px 0px;
    /* background: #1F2733; */
    transform: translateY(34px);
  }
  #dropdown-btn {
    border: none;
    background-color: rgba(255,255,255,0);
    display: flex;
    justify-content: center;
    align-items: center;
  }

  .dropdown-menu {
    border-radius: 10px;
    border: none;
    width: 100%;
    position: absolute;
    background: rgb(14,18,26);
    color: white;
  }
  
  #dropdown-div {
    display: flex;
    justify-content: end;
    position: sticky;
    border-radius: 10px 10px 0px 0px;
    background: #1f273300;
    transform: translateY(34px);
  }
  
  #dropdown-btn {
    border: none;
    background-color: rgba(255,255,255,0);
    display: flex;
    justify-content: center;
    align-items: center;
  }
  
  .dropdown-item {
    color: white !important;
  }
  
  
  
  
  
  
