        .bs-icon {
            --bs-icon-size: .75rem;
            display: flex;
            flex-shrink: 0;
            justify-content: center;
            align-items: center;
            font-size: var(--bs-icon-size);
            width: calc(var(--bs-icon-size) * 2);
            height: calc(var(--bs-icon-size) * 2);
            color: var(--bs-primary);
        }
        
        .bs-icon-xs {
            --bs-icon-size: 1rem;
            width: calc(var(--bs-icon-size) * 1.5);
            height: calc(var(--bs-icon-size) * 1.5);
        }
        
        .bs-icon-sm {
            --bs-icon-size: 1rem;
        }
        
        .bs-icon-md {
            --bs-icon-size: 1.5rem;
        }
        
        .bs-icon-lg {
            --bs-icon-size: 2rem;
        }
        
        .bs-icon-xl {
            --bs-icon-size: 2.5rem;
        }
        
        .bs-icon.bs-icon-primary {
            color: var(--bs-white);
            background: rgba(255, 255, 255, 0);
        }
        
        .bs-icon.bs-icon-primary-light {
            color: var(--bs-primary);
            background: rgba(var(--bs-primary-rgb), .2);
        }
        
        .bs-icon.bs-icon-semi-white {
            color: var(--bs-primary);
            background: rgba(255, 255, 255, .5);
        }
        
        .bs-icon.bs-icon-rounded {
            border-radius: .5rem;
        }
        
        .bs-icon.bs-icon-circle {
            border-radius: 50%;
        }
        
        .navbar {
            color: #e3e1df;
        }
        
        .nearthelogo {
            display: inline-flex;
            justify-content: center;
            align-items: center;
            gap: 50px;
        }
        
        span {}
        
        .norlinktop {
            color: #FFF;
            font-size: 18px;
            font-style: normal;
            font-weight: 400;
            line-height: normal;
            text-decoration: none;
        }
        
        .navicons {
            color: rgb(255, 255, 255);
            font-size: 28px;
        }
        
        svg {}
        
        .naviconfire {
            color: #428EED;
            width: 28px;
            height: 28px;
            flex-shrink: 0;
        }
        
        .mainlogo {
            font-size: 31px;
            color: #428EED;
        }
        
        #navcol-2 {}
        
        .navbar-nav {
            max-width: 500px;
            width: 100%;
            display: flex;
            flex-direction: row;
            justify-content: space-evenly;
        }
        
        #navdrop {
            display: flex;
            align-items: center;
            justify-content: center;
            width: 193px;
            height: 52px;
            flex-shrink: 0;
            border-radius: 50px;
            border: 1.5px solid #1D60B3;
            background: #07090F;
        }
        
        a {
            text-decoration: none;
        }
        
        #loginnav {
            color: #F5F9FF;
            font-size: 16px;
            font-style: normal;
            font-weight: 500;
            line-height: normal;
            display: flex;
            justify-content: center;
            border-radius: 50px;
            border: 1.5px solid #1D60B3;
            background: #1D60B3;
            align-items: center;
            background: #1D60B3;
            width: 101px;
            height: 52px;
            flex-shrink: 0;
        }
        
        .dropdown-menu {
            border-radius: 10px;
            border: none;
            width: 100%;
            position: absolute !important;
            background: rgb(14, 18, 26);
            color: white !important;
        }
        
        .dropdown-item:focus,
        .dropdown-item:hover {
            color: white !important;
            /* background-color: var(--bs-link-color) !important; */
        }
        
        #Taskdivi::-webkit-scrollbar {
            display: none;
        }
        
        span {}
        
        #searchdiv {
            display: flex;
            justify-content: space-between;
            align-items: center;
        }
        
        #taskholder {
            width: 230px;
            max-width: 100%;
        }
        
        #tasktoppart {
            border-radius: 10px 10px 0px 0px;
            height: 174px;
            width: 100%;
            display: flex;
            justify-content: space-between;
            align-items: start;
            flex-direction: column;
        }
        
        #showreportbtn {
            align-items: center;
            justify-content: space-around;
            display: flex;
            color: #F5F9FF;
            font-size: 16px;
            font-style: normal;
            font-weight: 700;
            line-height: normal;
            border-radius: 0px 0px 10px 10px;
            background: #1D60B3;
            width: 100%;
            height: 49px;
        }
        
        #thereportshowr {
            align-items: center;
            justify-content: space-between;
            display: grid;
            grid-gap: 10px;
        }
        
        @media (min-width: 576px) {
            #thereportshowr {
                grid-template-columns: auto auto !important;
            }
        }
        
        @media (min-width: 300px) {
            #thereportshowr {
                grid-template-columns: auto auto;
            }
        }
        
        #inputheading {
            display: flex;
            align-items: start;
            color: rgba(245, 249, 255, 0) !important;
            text-align: center;
            font-size: 21.5px;
            font-style: normal;
            font-weight: 700;
            line-height: normal;
        }
        
        #taskpara {
            font-size: 15px;
            font-style: normal;
            font-weight: 400;
            line-height: normal;
            border: none;
            background: rgba(154, 111, 111, 0);
            color: #ffffff;
        }
        
        #taskheading {
            border: none;
            background: rgba(66, 142, 237, 0);
            color: #F5F9FF;
            font-size: 21.5px;
            font-style: normal;
            font-weight: 700;
            line-height: normal;
        }
        
        #taskheading:active {
            border: none;
        }
        
        #taskheading:focus {
            border: none;
        }
        
        #tasktoppart {}
        
        #taskheading::placeholder {
            color: #ffffff;
        }
        
        #taskpara::placeholder {
            color: white;
        }
        
        @media (min-width: 992px) {
            #thereportshowr {
                grid-template-columns: auto auto auto auto !important;
            }
        }
        
        @media (min-width: 1025px) {
            #thereportshowr {
                grid-template-columns: auto auto auto auto !important;
            }
        }
        
        @media (min-width: 300px) {
            #thereportshowr {
                grid-template-columns: auto;
            }
        }
        
        @media (min-width: 320px) {
            #thereportshowr {
                grid-template-columns: auto;
            }
        }
        
        @media (min-width: 480px) {
            #thereportshowr {
                grid-template-columns: auto;
            }
        }
        
        @media (min-width: 1400px) {
            #thereportshowr {
                grid-template-columns: auto auto auto auto auto !important;
            }
        }
        
        @media (min-width: 1200px) and (max-width:1300) {
            #thereportshowr {
                grid-template-columns: auto auto auto auto!important;
            }
        }
        
        @media (min-width: 768px) and (max-width: 990px) {
            #thereportshowr {
                grid-template-columns: auto auto auto !important;
            }
        }
        
        @media (min-width: 100px) and (max-width:575px) {
            #thereportshowr {
                display: flex;
                flex-direction: column;
            }
        }
        
        @media (min-width: 100px) and (max-width:575px) {
            #taskholder {
                width: 550px;
            }
        }
        
        .scroll-to-top {
            font-family: 'Courier New', Courier, monospace;
            position: fixed;
            right: 1rem;
            bottom: 1rem;
            display: none;
            width: 7.75rem;
            height: 2.75rem;
            text-align: center;
            color: #fff;
            background: rgba(90, 92, 105, .5);
            line-height: 46px;
        }
        
        .loader {
            width: 48px;
            height: 48px;
            border-radius: 50%;
            position: relative;
            animation: rotate 1s linear infinite
        }
        
        .loader::before,
        .loader::after {
            content: "";
            box-sizing: border-box;
            position: absolute;
            inset: 0px;
            border-radius: 50%;
            border: 5px solid #FFF;
            animation: prixClipFix 2s linear infinite;
        }
        
        .loader::after {
            transform: rotate3d(90, 90, 0, 180deg);
            border-color: #FF3D00;
        }
        
        @keyframes rotate {
            0% {
                transform: rotate(0deg)
            }
            100% {
                transform: rotate(360deg)
            }
        }
        
        @keyframes prixClipFix {
            0% {
                clip-path: polygon(50% 50%, 0 0, 0 0, 0 0, 0 0, 0 0)
            }
            50% {
                clip-path: polygon(50% 50%, 0 0, 100% 0, 100% 0, 100% 0, 100% 0)
            }
            75%,
            100% {
                clip-path: polygon(50% 50%, 0 0, 100% 0, 100% 100%, 100% 100%, 100% 100%)
            }
        }
        
        @media only screen and (max-width: 500px) {
            #theclockdiv {
                transform: scale(0.9) !important;
            }
        }
        /* .loader {
            position: fixed;
            left: 0px;
            top: 0px;
            width: 100%;
            height: 100%;
            z-index: 9999;
            background: url('//upload.wikimedia.org/wikipedia/commons/thumb/e/e5/Phi_fenomeni.gif/50px-Phi_fenomeni.gif') 50% 50% no-repeat rgb(249, 249, 249);
        } */