<div class="custom-break">
    <h3 class="cb-heading">Custom Break</h3>
    <div class="container">
        <div class="row" style="color: white;">
            <div class="col">
                <div class="d-flex flex-column bd-highlight">
                    <p>Hrs<br>(0-23)</p>
                    <div class="p-2 bd-highlight cb-out-inp-div">
                        <div class="input-group mb-3 cb-inp">
                            <input type="number" class="form-control hrs_input" style="color: white; background: transparent;" placeholder="Hours" aria-label="Recipient's username" aria-describedby="basic-addon2">
                        </div>
                    </div>
                </div>
            </div>
            <div class="col">
                <div class="d-flex flex-column bd-highlight">
                    <p>Min<br>(0-59)</p>
                    <div class="p-2 bd-highlight cb-out-inp-div">
                        <div class="input-group mb-3 cb-inp">
                            <input type="number" class="form-control mins_input" style="color: white; background: transparent;" placeholder="Minutes" aria-label="Recipient's username" aria-describedby="basic-addon2">
                        </div>
                    </div>
                </div>
            </div>
            <div class="col">
                <div class="d-flex flex-column bd-highlight">
                    <p>Sec<br>(0-59)</p>
                    <div class="p-2 bd-highlight cb-out-inp-div">
                        <div class="input-group mb-3 cb-inp">
                            <input type="number" class="form-control sec_input" style="color: white; background: transparent;" placeholder="Seconds" aria-label="Recipient's username" aria-describedby="basic-addon2">
                        </div>
                    </div>
                </div>
            </div>
        </div>
    </div>
</div>