<swiper-container class="mySwiper get-started" pagination="true" pagination-type="progressbar" navigation="true">

    <swiper-slide>
        <img src="./assets/image/delete.svg" alt="" class="p-1 close-img" style="width: 30px; height: 30px;">
        <div class="slide-div">
            <div class="text-center g-heading">
                <h>What is Flowfocus?</h2>
            </div>
            <div class="text-center">
                <img src="./assets/image/get_started/f1.png" class="g-image" alt="f1">
            </div>
            <div class="g-content">
                <ul>
                    <li>
                        </p>Flowfocus is a productivity web app, that uses Flowtime technique</p>
                    </li>
                    <li>
                        </p>You choose a task and start working on it untill you get tired or distracted</p>
                    </li>
                    <li>
                        </p>Track the work time and break time ( Don&#39;t worry We will do it for you 😉)</p>
                    </li>
                    <li>
                        </p>Inspired by the technique created by Zoe Read-Bivens, in 2016</p>
                    </li>
                    <li>
                        </p>Here we automatically suggest break time based on the followings (Here, You could also use custom break timer 🤗 )</p>
                    </li>
                </ul><br><br>

                <span class="gt-high-1">
                <h3>Break Timings</h3><br>
                    
                </span>
                <ol>
                    <li>
                        <p>For <span class="gt-high-1">25 minutes</span> of work or less, take a <span class="gt-high-2">five-minute</span> break.</p>
                    </li>
                    <li>
                        <p>For <span class="gt-high-1">25-50 minutes</span> of work, take an <span class="gt-high-2">eight-minute</span> break.</p>
                    </li>
                    <li>
                        <p>For <span class="gt-high-1">50-90 minutes</span> of work, take a <span class="gt-high-2">10-minute</span> break.</p>
                    </li>
                    <li>
                        <p>For <span class="gt-high-1">more than 90 minutes</span> of work, take a 15-minute break.</p>
                    </li>
                </ol>
            </div>
        </div>
    </swiper-slide>
    <swiper-slide>
        <img src="./assets/image/delete.svg" alt="" class="p-1 close-img" style="width: 30px; height: 30px; ">

        <div>
            <div class="text-center g-heading">
                <h2>Creation of Flow</h2>
            </div>

            <div class="text-center">
                <img src="./assets/image/get_started/f3.png" class="g-image" alt="f3">
            </div>

            <div class="g-content">
                <ul>
                    <li>
                        <p>Under Task Section, Type your task name, and click <span class="gt-high-1">Add Task</span> Button</p>
                    </li>
                    <li>
                        <p>Select the Created Task and Start the <span class="gt-high-1">flow clock</span>. That&#39;s it :)</p>
                    </li>
                </ul>
            </div>


            <div class="text-center">
                <img src="./assets/image/get_started/f6.png" class="g-image" alt="f6.png">
            </div>

            <div class="g-content">
                <ul>
                    <li>
                        <p>Task will be added like shown above</p>
                    </li>
                    <li>
                        <p>Start the <span class="gt-high-1">flow clock</span>. That&#39;s it</p>
                    </li>
                </ul>
            </div>

            <div class="text-center">
                <img src="./assets/image/get_started/f2.png" class="g-image" alt="f2">
            </div>

            <div class="g-content">
                <ul>
                    <li>
                        <p>Click the <span class="gt-high-1">Stop</span> Button to stop tracking the time</p>
                    </li>
                    <li>
                        <p>Based on your tracked time, we will set the break time for you. </p>
                    </li>
                    <li>
                        <p>You could also customize the break time</p>
                    </li>
                </ul>
            </div>


        </div>
    </swiper-slide>
    <swiper-slide>
        <img src="./assets/image/delete.svg" alt="" class="p-1 close-img" style="width: 30px; height: 30px; ">

        <div class="text-center g-heading">
            <h2>Customization of BreakTime</h2>
        </div>
        <div class="text-center">
            <img src="./assets/image/get_started/f4.png" class="g-image" alt="f4">
        </div>
        <div class="g-content">
            <ul>
                <li>Click on the <span class="gt-high-1">Timer Text</span>
                </li>
                <li>You will get the popup to customize the Break like below</li>
            </ul>
        </div>

        <div class="text-center">
            <img src="./assets/image/get_started/f5.png" class="g-image" alt="f5">
        </div>
        <div class="g-content">
            <ul>
                <li>Set your custom break time and <span class="gt-high-1">click change</span>
                </li>
                <li>That&#39;s it. Break time has been changed</li>
            </ul>
        </div>


    </swiper-slide>
</swiper-container>