<swiper-container class="mySwiper get-started" pagination="true" pagination-type="progressbar" navigation="true">
    <swiper-slide>
        <div class="slide-div">
            <div class="text-center">
                <img src="./assets/image/get_started/f1.png" class="g-image" alt="f1">
                </p>
            </div>
            <div class="g-content">
                <ul>
                    <li>
                        </p>Flowfocus is a productivity web app, that uses Flowtime technique</p>
                    </li>
                    <li>
                        </p>You choose a task and start working on it untill you get tired or distracted</p>
                    </li>
                    <li>
                        </p>Track the work time and break time ( Don&#39;t worry We will do it for you 😉)</p>
                    </li>
                    <li>
                        </p>This technique was created by Zoe Read-Bivens, in 2016</p>
                    </li>
                    <li>
                        </p>Here we automatically suggest break time based on the followings (Here, You could also use custom break timer 🤗 )</p>
                    </li>
                </ul>
                <ol>
                    <li>For <code>25 minutes</code> of work or less, <code>take a five-minute break</code>.</li>
                    <li>For <code>25-50 minutes</code> of work, take an <code>eight-minute break</code>.</li>
                    <li>For <code>50-90 minutes</code> of work, <code>take a 10-minute break</code>.</li>
                    <li>For <code>more than 90 minutes</code> of work, <code>take a 15-minute break</code>.```</li>
                </ol>
            </div>
        </div>
    </swiper-slide>
    <swiper-slide>Slide 2</swiper-slide>
    <swiper-slide>Slide 3</swiper-slide>
</swiper-container>